<html>
        
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">
          <link href="{{ url_for('static', filename= 'img/favicon.ico')}} rel="icon" >
      
          <title>Fake News</title>
      
          <!-- Bootstrap core CSS -->
          <link  rel="stylesheet" href=" {{ url_for('static', filename= 'css/bootstrap.min.css')}}">
      
          <!-- Custom styles for this template -->
          <link rel="stylesheet" href=" {{ url_for('static', filename= 'css/product.css')}}" >
    </head>
        
        <body>

                
            
                <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
                  <div class="col-md-6 p-lg-6 mx-auto my-5">
                    <h1 class="display-6 font-weight-normal">Fake News</h1>
                    <p class="lead font-weight-small">Con el desarrollo de las redes sociales las noticias falsas por motivos comerciales
                         y polı́ticos han estado apareciendo en grandes cantidades en el mundo
                            de internet. Las personas pueden ser influenciadas por estas noticias facilmente, posibilitando que estas se compartan sin verficar su verasidad.
                            La detección automáticas de las noticias falsas es extremadamente difı́cil,un
                            modelo basado en comprobacı́on rápida de una noticia es un problema
                            abierto y algunos pocos modelos pueden ser aplicados para resolver el problema.
                            </p>
                    <a class="btn btn-outline-secondary" href="#">Disfrute</a>
                  </div>
                  <div class="product-device box-shadow d-none d-md-block"></div>
                  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
                </div>

            
        {% block content %}
        {% endblock %} 
                
        <footer class="container py-5">
                  <div class="row">
                    <div class="col-12 col-md">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                      <small class="d-block mb-3 text-muted">© Grupo 511 UH 2019-2020</small>
                    </div>
                    <!-- <div class="col-6 col-md">
                      <h5>Features</h5>
                      <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                      </ul>
                     </div> -->
                  </div>
                </footer>
            
            
                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="{{ url_for('static', filename= 'js/jquery-3.3.1.slim.min.js')}}"></script>
                <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
                <script src="{{ url_for('static', filename= 'js/popper.min.js')}}"></script>
                <script src="{{ url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
                <script src="{{ url_for('static', filename= 'js/holder.min.js')}}"></script>
                <script>
                  Holder.addTheme('thumb', {
                    bg: '#55595c',
                    fg: '#eceeef',
                    text: 'Thumbnail'
                  });
                </script>
              
            
            
            
            </body>