/* Code tidied up by ScrapBook */
.container { max-width: 960px; }
.site-header { background-color: rgba(0, 0, 0, 0.85); }
.site-header a { color: rgb(153, 153, 153); transition: color 0.15s ease-in-out 0s; }
.site-header a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.product-device { position: absolute; right: 10%; bottom: -30%; width: 300px; height: 540px; background-color: rgb(51, 51, 51); border-radius: 21px; transform: rotate(30deg); }
.product-device::before { position: absolute; top: 10%; right: 10px; bottom: 10%; left: 10px; content: ""; background-color: rgba(255, 255, 255, 0.1); border-radius: 5px; }
.product-device-2 { top: -25%; right: auto; bottom: 0px; left: 5%; background-color: rgb(229, 229, 229); }
.border-top { border-top: 1px solid rgb(229, 229, 229); }
.border-bottom { border-bottom: 1px solid rgb(229, 229, 229); }
.box-shadow { box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }
.flex-equal > * { flex: 1 1 0%; }
@media (min-width: 768px) {
  .flex-md-equal > * { flex: 1 1 0%; }
}
.overflow-hidden { overflow: hidden; }
